.company-container {
  background: white;
  padding: 10px;
  margin: auto;
}

.company-segment {
  margin-bottom: 15px;
}

.company-segment > p {
  margin: 0;
}

.company-title {
  font-weight: bold;
}